/* Size Marker - Testing ONLY 
// X-Large Devices Only - 1600px to Up 
body:before { content:'XL'; position: fixed; top:10px; left:10px; width:50px; height:50px; line-height:50px; font-size:25px; background:rgba(255,0,0,0.5); color:#000; text-align: center; z-index:99999999; border-radius:50%; pointer-events:none; }
// Large Devices Only - 1200px to 1599px 
@media (min-width: 1200px) and (max-width: 1599px) {
body:before { content:'LG'; background:rgba(255,255,0,0.5);}
}
// Medium Devices Only - 992px to 1199px 
@media (min-width: 992px) and (max-width: 1199px) {
body:before { content:'MD'; background:rgba(0,255,0,0.5);}
}
// Small Tablets Only - 768px to 991px 
@media (min-width: 768px) and (max-width: 991px) {
body:before { content:'SM'; background:rgba(0,0,255,0.5);}
}
// X-Small - 481px to 767px 
@media (min-width: 481px) and (max-width: 767px) {
body:before { content:'XS'; background:rgba(0,255,255,0.5);}
}
// Mobile Devices - 480px and down 
@media (max-width: 480px) {
body:before { content:'M'; background:rgba(255,255,255,0.5);}
}
*/
  
 
body{
	font-size: 16px;
	background: $purpleBkg url('../images/tile.png') repeat;
	&:before{
		content: '';
		position: fixed;
		width: 100%;
		height:100%;
		top:0;
		left:0;
		opacity:.6;
		background-color: $purpleBkg;

	}
}
.mdl-layout{
	z-index: 0;
}
.mdl-layout__container{
	h1,h2,h3,h4,h5,h6{
		color: #ffffff;
	}

}
a{color: $primary-color; text-decoration: none;}
a:hover{color:$primary-color-light;}
.wt-bkg{
	background: rgba(#ffffff, .9);
	h1, 
	h2, 
	h3,
	h4,
	h5,
	h6 {
		@extend .txtshadoww--bevel;
		color:$primary-color;
	}

}
.wt-bkg:not(.mdl-card){
	padding: 40px;
	width: calc(100% - 80px);
	@include respond-to('xs') {
		padding: 20px;
		width: calc(100% - 40px);
	}
	@include respond-to('m') {
		padding: 15px;
		width: calc(100% - 30px);
	}
}
.wt-bkg.entry-content h2{text-align: left !important;padding: 0 !important;}
.wt-bkg h2,
.wt-bkg h4{
	@extend .txtshadoww--bevel;
}
body:not(.wp-core-ui) {
	h1, h2, h3, h4, h5, h6 {
		font-family: $headlineFont;
		line-height: 1.2;
		margin-bottom: 15px;

	}
}
h2{
	@include respond-to('xs') {
    	font-size:33px;
  	}
}
h3{
	@include respond-to('xs') {
    	font-size:26px;
  	}
}

.mdl-grid{
	width: calc(100% - 16px);
	justify-content:center;
}

.mdl-card{
	width: auto;
}
.mdl-card__title-text{
	@extend .txtshadoww--cardtitle;
}
.mdl-card__menu{
	i.material-icons{ 
		color:rgba(white, .9);
		@extend .txtshadoww--cardtitle;
		font-size: 35px;
		margin: -8px 0px 0px -8px;;
		line-height: 40px;
		width: 40px;	
	}
	.mdl-button--icon {
	    font-size: 35px;
	    height: 40px;
	    min-width: 40px;
	    width: 40px;
	    line-height: normal;
	    
	}
}
.flex-direction-nav a::before {
    width: 100%;
    height: 100%;
    line-height: 50px;
}

.mfp-title {
    position: absolute;
    bottom: calc(100% + 10px);
    line-height: 1.1 !important;
}

.mdl-button--accent{background-color:$accent-color;}

.mdl-button--raised.mdl-button--colored, .mdl-button.mdl-button--colored{background-color:$primary-color;}

.mdl-data-table thead th{
	font-size: 20px;
	line-height: 2.2;
	color:$primary-text-color;
	padding-top: 7px;
	}
.mdl-layout__drawer{
	.search-form-wrap{
		text-align: center;
		bottom: 80px;
		position: absolute;
		width: 100%;
		h6{
			margin: 0px;
			color: $accent-color;
		}
		.search-form{
			position: relative;
			padding-right:0px;
			input.search-field{
				height: auto;
				border:none;
				box-shadow: none;
				font-size: 13px;
				line-height: 24px;
				padding:14px;
				width:200px;
				display: inline-block;
				background-color: $purpleBkg;
				border-radius: 25px;
				color: #fff;
			}
		}
	}
}
table, .entry-content{
	.search-form-wrap{
		text-align: center;
		bottom: auto;
		position: relative;
		width: 100%;
		h6{margin-bottom: 0px;}
		.search-form{
			position: relative;
			padding-right:0px;
			input.search-field{
				height: auto;
				padding:14px 0px;
				border:none;
				box-shadow: none;
				font-size: 13px;
				display: block;
				line-height: 24px;
				padding:14px;
				width:200px;
				display: inline-block;
			}
		}
	}
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: 100%;
	border:4px solid #fff;
	border-radius: 4px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 400px;
}
