// Ivisible resets: -----------------------------------------
// Ivisible resets: -----------------------------------------
// Ivisible resets: -----------------------------------------
// Ivisible resets: -----------------------------------------
// Ivisible resets: -----------------------------------------
// Ivisible resets: -----------------------------------------
// Ivisible resets: -----------------------------------------


// general resets: -----------------------------------------

p, ol, ul{
	font-size: 18px;
	line-height:1.5;
}

body#tinymce{
	background: white !important;
}

// MDL card resets: -----------------------------------------

.mdl-card__supporting-text {
    color: rgba(0,0,0,.54);
    font-size: 16px;
    line-height: 24px;
}

// MDL table resets: -----------------------------------------
.mdl-data-table {
    white-space: normal;
    font-size: 16px;
}
.mdl-data-table td {
    position: relative;
    vertical-align: middle;
    height: auto;
    border-top: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding-top: 0px;
    box-sizing: border-box;
    font-size: 18px;
    word-wrap: break-word;
}
.mdl-data-table td, 
.mdl-data-table th {
    padding: 10px;
    text-align: right;
}
.mdl-data-table td:first-of-type, 
.mdl-data-table th:first-of-type {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}
.mdl-textfield{
	width:auto;
}
// END Ivisible resets: -----------------------------------------
// END Ivisible resets: -----------------------------------------
// END Ivisible resets: -----------------------------------------
// END Ivisible resets: -----------------------------------------
// END Ivisible resets: -----------------------------------------
// END Ivisible resets: -----------------------------------------