// Colors - always set brand-primary, brand-secondary and brand-copy colors. Don't remove them



$brand-primary: $primary-color;
$brand-secondary: $accent-color;
$brand-copy: $secondary-text-color;


$headlineFont:'Suez One', serif;

$color-action: $accent-color;

$color-noaction: $divider-color;


.txtshadoww--bevel{ 
	text-shadow: 0 2px 0 rgba(255, 255, 255, 0.9);
	}
.txtshadoww--booking{ 
	text-shadow: 0 2px 1px rgba($purple, 0.9);
	}
.txtshadoww--headline{ 
	text-shadow: 0 5px 10px rgba($purpleDark, 0.9);
	}
.txtshadoww--cardtitle{ 
	text-shadow: 0 3px 6px rgba($purpleDark, 0.7);
	}