

.addon-tag {
	font-size: 30px;
}

.em-addons{
	.addon-link{}
	.mdl-card__media{
		height: 250px;
		text-decoration: none;
		position: relative;
		@include transition(all, 0.3s);
		&:hover{
			transform: scale(1.05,1.05);
		}
	}
	.mdl-card__title{
		width: 100%;
		bottom: 0px;
		position: absolute;
		padding: 10px 25px;
		.mdl-card__title-text{
			width: 100%;
			display: block;
			font-family: $headlineFont;
			color: white;
			font-size: 20px;
			line-height: 35px;
			@extend .txtshadoww--cardtitle;
		}
	}
	.pkg_options{
		padding: 5px 20px;
		
	}
	.pkg_price{
		padding: 5px 20px;
		text-align: center;
		
	}
	.sales_btn_wrap{
		margin: -10px 0px;
	}
	
	.mdl-card__supporting-text {
		font-size: 16px;
		color: $primary-text-color;
	}
	
	.addon_price {
		font-family: $headlineFont;
		text-align: center;
		
	}
	.mdl-cell--4-col{
		@include respond-to('sm') {
		 width:calc(33.3% - 16px);	
		}
		@include respond-to('xs') {
		 width:calc(50% - 16px) ;
		 &:last-of-type:nth-child(even){
			margin:8px auto;
			float: none;
		 }	

		}
		@include respond-to('m') {
		 width:100%;	
		 &:last-of-type:nth-child(even){
			margin:8px;
		 }
			
		}
	}
	
}

.pkg_addon{
	.mdl-cell--7-col{
		@include respond-to('sm') {
		 width:calc(50% - 16px) ;
		}
		@include respond-to('xs') {
		 width:100% ;
		}

	}
	.mdl-cell--5-col{
		@include respond-to('sm') {
		 width:calc(50% - 16px) ;
		}
		@include respond-to('xs') {
		 width:100% ;
		}

	}
}








.sing-addon {
	
	h3 {
		font-size: 24px;
	}
}

.add-on-container {
	line-height: normal;
}

.disclaim {
	
	font-weight: bold;
	font-style: italic;
	
}
 