.em-artists{
	.wt-bkg{padding: 0px 20px;}
	.mdl-card{
		.mdl-card__media{
			height: 300px;
			@include transition(all, 0.3s);
		&:hover{
			transform: scale(1.05,1.05);
		}
			.mdl-card__title{
				bottom: 0px;
				position: absolute;
				background: $black-trans;
				width: 100%;
				h2{
					width:100%;
					a{
						width: 100%;
						text-align: center;
						font-family: $headlineFont;
						color:white;
						text-decoration: none;
						line-height: 1.3; 
					}
				}
			}
		}		
	}
	.mdl-cell--4-col{
		@include respond-to('sm') {
			width:calc(33.3% - 16px);	
		}
		@include respond-to('xs') {
			width:calc(50% - 16px) ;
			&:last-of-type:nth-child(even){
				margin:8px auto;
				float: none;
		 	}	
		}
		@include respond-to('m') {
			width:100%;	
			&:last-of-type:nth-child(even){
				margin:8px;
		 	}
		}
	}
}
.artists_post_type{
	.wt-bkg{
		button{
			color:$primary-color-text;
			background-color:$primary-color-dark;
			&:hover{
				background-color: $primary-color-light;
			}
		}
	}
}

.artistholder {
	width:200px;
	float: left
}

.artistimg {
	
}

.em-artists-text {
	color: #fff;
	text-align: center;
}