 
 
 
 .faq-cat-sub-list {
	 
	 list-style: none;
	 list-style-position: inside;
	 background-color: white;
	 padding: 20px;
	 margin-bottom: 30px;
	 line-height: 2.2;
 }
 
 .faq-question {
	font-weight: bold;
	font-size: 1.4em; 
	color:$primary-color-dark;
	margin-bottom: 5px;
 }
 
 .faq-answer {
	 
	 margin-bottom: 10px;

 }
 
 .notop {
	 border-top:none !important;
	 
 }
 
 .faq-group{
	border: 1px solid $divider-color;
	padding: 5px 30px 15px;
	margin: 10px 0px;
 }
 .back-to-top{
	 text-align: right;
	 width: 100%;
	 display: block;
 }
.faq-cat-sub-link{
	font-size: 20px;
	padding: 5px 10px 5px 10px;
	margin-bottom: 5px;
	&:before{
		content: 'Q.';
		font-family: $headlineFont;
		color: white;
		position: relative; 
		left:-10px;
		top:2px;
		font-size: 25px;
		background-color: $primary-color-dark;
		padding: 5px 10px;
		border-radius: 50%;
	}
}