.mdl-mega-footer {
  ul {
    @extend .mdl-mega-footer__link-list;
  }
}

.mdl-mega-footer--heading-checkbox:checked ~ div,
.mdl-mega-footer__heading-checkbox:checked ~ div {
  display: none;

  @media screen and (min-width: 760px) {
    display: block;
  }
}

.mdl-mega-footer__drop-down-section > div:empty {
  display: none;
}


.mdl-mega-footer{
	background: $black-trans;
}
.mdl-mini-footer {
	color:$primary-color;
    background: $black-trans;
    .mdl-cell--4-col{
	    text-align: center;
	    @include respond-to('md') {
		 width:100% !important;
		 display: block;
		}
		ul {
			@extend .mdl-mini-footer__link-list;
			color:$primary-color;
			flex-wrap: wrap;
			justify-content: center;
			a{color: $accent-color;}
			a:hover{color:$yellowLight;}
		}
		.textwidget {
	    	line-height: $footer-btn-size;
		}
	    .sicon {
			transition: all .35s ease;
			display: inline-flex;
		    margin: -5px 10px 10px 10px;
		    height: 30px;
		    width: 30px;
		    padding: 10px;
		    @include border-radius(50%);
		    border: 1px solid $accent-color;
		    text-shadow: 0px 2px 1px rgba($purpleDark, .9);
			background-color: rgba($purple, .6);
			a{
				color: $accent-color;
			}
		    
		}
		.sicon:hover{
			a{
				color: $yellowLight;
			}

			 border: 1px solid $yellowLight;
		}
	}
}



.copyrights{
	padding-top:10px;	
}
.menu-lower-footer{

}
		
