#mobile-Logo{
	height: 80px;
	width: auto;
	margin-top: 0;
	position: absolute;
	top:0;
	left:0;
	display: block;
	transform: translateY(-200%);
	transition: all .5s ease;
	a{
		display: block;
		height:100%;
		img{height: 100%;}
	}
}
/*-- HEADROOM MOBILE HEAD HIDER PAGE STLYING --------------------------------------------*/
/*-- HEADROOM MOBILE HEAD HIDER PAGE STLYING --------------------------------------------*/
/*-- HEADROOM MOBILE HEAD HIDER PAGE STLYING --------------------------------------------*/
.headroom {
    @include transitionProperty((transform, all));
    @include transitionDuration(.5s);
    position: fixed;
    top:0;
	right:0;
	left:0;
	background: $black-trans !important;
	z-index: 3;
}
.headroom--unpinned {
    @include transitionProperty((transform, all));
    @include transitionDuration(.5s);
}
.headroom--not-top.headroom--unpinned {
	transform: translateY(0%);
	@include transitionProperty((transform, all));
    @include transitionDuration(.5s);
	background: rgba(#000000, .8);
	@include respond-to('sm') {
		transform: translateY(-100%);
		background: none;
	}
}
.headroom--pinned.headroom--top{
	transform: translateY(0);
	@include transitionProperty((transform, all));
    @include transitionDuration(.5s);
	background: $black-trans !important;
}
.headroom--pinned {
    transform: translateY(0%);
    @include transitionProperty((transform, all));
    @include transitionDuration(.5s);
    background: $black-trans !important;
	}
.headroom--top #mobile-Logo{

}
.headroom--not-top {
	#mobile-Logo{
		transform: translateY(0);
	}
}
@include respond-to('sm') {
	.headroom--not-top.headroom--unpinned {
		#mobile-Logo{
			transform: translateY(-200%) !important;
		}
	}
	.headroom--not-top.headroom--pinned{
		#mobile-Logo{
			transform: translateY(0) !important;
		}
	}

}

/*-- HEADER STLYING 
--------------------------------------------*/
/*-- HEADER STLYING 
--------------------------------------------*/
.mdl-layout__header{
	z-index: 5;
	display: flex;
}
.mdl-layout__header .mdl-layout__drawer-button{
	color: $yellowLight !important;
	position: absolute;
	&:after{
		content: 'menu';
		position: absolute;
		bottom:-12px;
		text-align: center;
		display: block;
		width: 100%;
		font-size: 10px;
		text-transform: uppercase;
		font-family: $headlineFont;

	}
}
.mdl-layout--fixed-header{
	z-index: 4;
	height: 65px;
	position: fixed;
	overflow: visible;
}
.em-layout-transparent{
	height: 100%;
	background-position: center top;
	background-size: cover;
	z-index: 0;
	position: relative;
	width: 100%;
	display: block;
}

.mdl-layout-title {
  color: inherit;
  text-decoration: none;
}

/*-- NAV STLYING 
--------------------------------------------*/
/*-- NAV STLYING 
--------------------------------------------*/
.mdl-navigation{
	align-items: flex-start !important;
	@include respond-to('xs') {
		display: none;		
	}
	.menu-item {
		@extend .mdl-navigation__link;
		font-size: 20px;
		font-family: $headlineFont;
		color: white;
		@extend .txtshadoww--cardtitle;
		@include respond-to('md') {
			font-size: 18px;
		}
		@include respond-to('sm') {
			font-size: 16px;
		}
		a{
			color: white;
		}
		.sub-menu{
			display: none;
			height: 0px;
			opacity: 0;
			color: white;
			margin: 0px;
			padding: 0px;
			background-color: $black-trans;
			@include transition(all, 0.5s);
			position: absolute;
			.menu-item{
				line-height: 45px;
			}
		}
	}
	.menu-item:hover{
		a{ 
			color: white;
			@extend .txtshadoww--headline;
		}
		.sub-menu{
			display: block;
			height: auto;
			opacity: 1;
			@include transition(all, 0.5s);
		}
	}
}

/*-- DRAWER STLYING 
--------------------------------------------*/
/*-- DRAWER STLYING 
--------------------------------------------*/
.mdl-layout__drawer-button{
	display: none;
	color: $accent-color;
	border-radius: 50%;
	@include respond-to('xs') {
		display: block;
		position: fixed;
		z-index: 6;
		left: auto;
		right:0;
	}
}
.mdl-layout__drawer, .mdl-layout__obfuscator{
	position: fixed;
	top:0px;
	bottom: 0px;
}
.mdl-layout__drawer{
	background: rgba($purpleDark, 1);
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 999999;
	border-right: none;
	.mdl-navigation {
    	display: block;
	}
	#drawer-mobile-Logo{
		display: block;
		width: calc(100% - 20px);
		margin: 10px;
		height: 85px;
		a{
			width: 100%;
			height: 100%;
			background-position: center center;
			background-size: contain;
			display: block;
			background-repeat: no-repeat;
		}
	}
	.mdl-navigation{
		.menu-item{
			text-align: center;
			font-size: 18px;
			font-family: $headlineFont;
			color:$accent-color;
		}
		.menu-item:hover{
			background-color: inherit;
			color: $yellowLight;
		}
	} 
	#drawer-mobile-social{
		position: absolute;
		bottom:10px;
		left:0;
		right: 0;
		padding: 10px;
		width: calc(100% - 20px);
		text-align: center;
		.sicon {
			display: inline-flex;
		    margin: 0px 5px;
		    height: 30px;
		    width: 30px;
		    padding: 5px;
		    @include border-radius(50%);
		    border: none;
		    text-shadow: 0px 2px 1px rgba($purple, .9);
			a{
				color: $accent-color;
			}
			a:hover{
				color: $yellowLight;
			}
		}
	}	
}

/*-- HEADER SEARCH STLYING 
--------------------------------------------*/
/*-- HEADER SEARCH STLYING 
--------------------------------------------*/
header .search-form-wrap{
	position: relative;
	float: right;
	height: 60px;
	width: 50px;
	@include respond-to('xs') {
	 display:none;	
	}
	.search-form{
		position: absolute;
		padding-right:0;
		height: 50px;
		top: 5px;
		right: 0;
		input.search-field{
			top:5px;
			width:200px;
			height: 50px;
			padding:0;
			border:none;
			color: #fff;
			box-shadow: none;
			font-size: 13px;
			display: block;
			line-height: 50px;
			opacity: 0;
			transform:scale(0,1);
			transform-origin: right	center;
			border-radius: 25px;
			 @include transition(all, 0.5s);
			}
		input.search-field.show{
			padding:0 14px;
			width:200px;
			display: inline-flex;
			opacity:1;
			transform:scale(1,1);
			transform-origin: right	center;
			background-color: $brand-primary;
			border-radius: 25px;
		}		
	}
	.input-group-btn {
		position: absolute;
		white-space: nowrap;
		top: 5px;
		z-index: 4;
		float: right;
		right: 0px;
		width: auto;
		height:50px;
		button{
			background-color: transparent;
			color: $accent-color;
			font-size: 35px;
			line-height: 35px;
			padding: 3px 5px 5px 7px;
			height: 50px;
			width: 50px;
			@include border-radius(50%);
			border: 1px solid $primary-color;
			@extend .txtshadoww--cardtitle;
			.material-icons{
				font-size: 35px;
				line-height: 1.1;
			}
			@include respond-to('sm') {
			 	font-size: 25px;
			 	line-height: 25px;
			 	height: 40px;
			 	width: 40px;
			 	.material-icons{
					font-size: 32px;
					line-height: 1.1;
				}
			}
		}
	}
}

/*-- HERO BANNER STLYING 
--------------------------------------------*/
/*-- HERO BANNER STLYING 
--------------------------------------------*/
.banner-wrap{
	width: 100%;
	height: 425px;
}