
.em-home{
	.mdl-cell--4-col{
		@include respond-to('sm') {
		 width:calc(50% - 16px);	
		}
		@include respond-to('xs') {
		 width:100%;	
		}
	}
	.mdl-cell--6-col{
		@include respond-to('sm') {
		 width:calc(50% - 16px);	
		}
		@include respond-to('xs') {
		 width:100%;	
		}
	}
	.mdl-cell--8-col{
		@include respond-to('sm') {
		 width:calc(50% - 16px);	
		}
		@include respond-to('xs') {
		 width:calc(100% - 8px) ;	
		}
	}
}	
.em-layout-transparent {
	padding: 0 0 !important;
}
.home-feature{
	padding: 25px;
	h4, p{
		display: block;
		width:100%;
	}
	h4{margin: 0 0 15px;}
	p{margin: 0;}
}
 
.em-home-text {
	color:#fff;
	text-align: center;
} 


.flexslider {
	max-width:100%;
	height:auto;
	.flex-viewport{
		li{
			position: relative;
		}

	}
	.artist-slide-title{
		position: absolute;
		color: white;
		@extend	.txtshadoww--cardtitle;
		bottom: 0px;
		padding: 0px 20px;
		line-height: 1.2;
		height: auto;
	}
}

 
/*   old flex slide code
.flex-viewport{height:450px !important; }
li.home-slide{height: 450px;}
.flexslide{width: 100%;height: 450px;background-position: center center;background-size: cover;}

*/

.share-card-image.mdl-card { 
	width: 100%;
	display: block; 
	a.img-popup{
		width: 100%;
		img{width: 100%;}
	}
}




.package-tag,
.addon-tag
{
	@extend .txtshadoww--headline;
	text-align:center !important;
	padding:0 .5em !important;
	@include respond-to('xs') {
		padding: .1em !important;
  	}

	}
		

	
.sicon {
	text-align: center !important;
		
		a.si{
	font-size: 2em;
	text-decoration: none;
	
	
	
		}
}	





.email-join {
	div {
		width:100%;
	} 
	
	button{
		right:0px;
	}	
}

#mc_embed_signup div.mce_inline_error {
	position: absolute;
	text-align: center;
	padding:0px !important;
	background-color: #ff0000 !important;
}

.em-home{
	h2.mdl-card__title-text{
		text-shadow: 0 3px 6px rgba(0,0,0,.7);
	}
}
.home{
	.package-hide, .addon-hide, .artists-hide{
		display: none;
	}
}