
.past-stone {
	
	color: #ccc;
	text-decoration: line-through;
}

.alllink, .alllink a {
    text-align: right;
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: #E5292C;
    top: 10px;
}
