.pkg_options{
	
	}
.sales_btn_wrap{
	.mdl-button{
		
	}
}
.pkg_icons{
	span{vertical-align: middle;
		i{vertical-align: middle;padding-right:5px;color:$orange;}
	}	
}
.em-packages{
	.mdl-cell--4-col{
		@include respond-to('sm') {
			 width:calc(50% - 16px);	
		}
		@include respond-to('xs') {
			 width:100%;	
		}
	}
	.pkg-link{}
	.mdl-card__media{
		background-color: $accent-color !important;
		height: 252px;
		text-decoration: none;
		position: relative;
		@include transition(all, 0.3s);
		&:hover{
			transform: scale(1.05,1.05);
		}
	}
	.mdl-card__title{
		width: 100%;
		bottom: 0px;
		position: absolute;
		padding: 10px 25px;
		.mdl-card__title-text{
			width: 100%;
			display: block;
			font-family: $headlineFont;
			color: white;
			font-size: 30px;
			line-height: 35px;
		}
	}
	.pkg_options{
		padding: 5px 20px;
		i {color:$primary-color-dark;}
		
	}
	.pkg_price{
		padding: 5px 20px;
		text-align: center;
		@extend .txtshadoww--bevel;
		color: $primary-text-color;
	}
	.sales_btn_wrap{
		margin: -10px 0px;
	}
}

.package-tag {
	font-family: $headlineFont;
}


/* Single package style */ 
	
.pkg_sub_head {
	@extend .txtshadoww--bevel;
	font-weight: bold;
}
	
.package-price { 
	font-family: $headlineFont;
	font-size: 2em;
	line-height: 1.5;;
	span{font-size: 12px;} 
}	
	
.pkg-pr-price {
	font-family: $headlineFont;
	font-size: 1.4em; 
	padding: 20px 0px;
	color: $color-action;
	
}	
.pricing_table {
	list-style: none;
}	

td.let {
	font-style: italic;
	word-wrap: break-word;
	font-size: 12px !important;
	
	
}


/* Single package icons style */ 
.packages_post_type{
	.mdl-cell--7-col{
		@include respond-to('sm') {
		 width:calc(50% - 16px);	
		}
		@include respond-to('xs') {
		 width:100% ;	
		}
	}
	.mdl-cell--5-col{
		@include respond-to('sm') {
		 width:calc(50% - 16px);	
		}
		@include respond-to('xs') {
		 width:100%;	
		}
		
	}
}
.full-width {
	width: 100%;
	
}

.min-w {
	width:25px;
	
}

.topmarg {
	margin-top: 20px;
	word-wrap: break-word;
}

/* booking button */ 

.book-btn-container {
	width:auto; 
	background: $color-action; 
	padding:20px 10px;
	text-align: center;
	font-size: 1.4em;
	font-family: $headlineFont;
	margin:10px 0px;
	line-height: 1.1;
	transition: all .35s ease;
	.book-btn{
		text-decoration: none;
		@extend .txtshadoww--booking;
	}
 }
 
 a.book-btn:link,  
 a.book-btn:visited,  
 a.book-btn:hover {
	 color:#fff;	 
	 
 }  
 
  


.book-btn-container-on_sale,
.book-btn-container-prebook_now,
.book-btn-container-prebook_on_sale{
	background: $accent-color;
	&:hover{
		background-color: $primary-color;
	}
}

.book-btn-container-sold_out,
.book-btn-container-prebook_soon,
.book-btn-container-closed,
.book-btn-container-closed,
.book-btn-container-prebook_announce{
	background: $color-noaction !important;
}

.book-btn-sold_out {
	text-decoration: line-through;}

.pkgcontainer {
	width:275px; background:#fff; float:left; text-align: center; padding: 10px;
}

.dead {
	text-decoration: line-through;
	color:#999;
}
