.mdl-layout__content{
	width: 100%;
}
.rewind-page-content{
	margin-bottom: 20px;
}
.em-rewind{
	margin-bottom: 20px;
	.rewind-welcome{
		padding:15px;
	}
	.rewindBtn{
		width:auto;
		background: $brand-primary;
		padding:20px 10px;
		text-align: center;
		font-size: 1.4em;
		font-family: $headlineFont;
		margin:10px auto;
		line-height: 1.1;
	}
	.rewind-excerpt{
		margin-bottom: 25px;
		line-height: 1.5;
	}
}